$white: #ffffff;
$gray: #F9F9F9;
$dark: #030A1B;
$dark-blue: #433E89;
$blue: #2E6EFF;
$orange: #FE753F;

$title-weight: 600;
$title-size: 44px;
$title-height: 66px;

$small-title-weight: 600;
$small-title-size: 22px;
$small-title-height: 33px;

$poppins: "Poppins", sans-serif;

$desktop-bp: 1600px;
$tablet-bp: 991px;
$mobile-bp: 767px;

$container-width: 1147px;